<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Boxes page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Программа для работы с пользователям</h1>

    <h4>Модификация пользователя:</h4>
    <form th:action="@{'/user/edit'}" th:object="${user}" method="post">
        <input th:field="*{id}" hidden class="form-control form-control-sm">
        <div class="form-group">
            <label>Имя</label>
            <input th:field="*{name}" class="form-control form-control-sm">
        </div>
        <div class="form-group">
            <label>Возраст</label>
            <input th:field="*{age}" class="form-control form-control-sm">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>


</body>
</html>